.happy
  .balloon.balloon1.balloon-anim1
  .balloon.balloon2.balloon-anim6
  .balloon.balloon3.balloon-anim3
  .balloon.balloon4.balloon-anim4
  .balloon.balloon5.balloon-anim5
.birthday
  .balloon.balloon3.balloon-anim6
  .balloon.balloon1.balloon-anim2
  .balloon.balloon4.balloon-anim1
  .balloon.balloon2.balloon-anim6
  .balloon.balloon1.balloon-anim4
  .balloon.balloon3.balloon-anim5
  .balloon.balloon2.balloon-anim1
  .balloon.balloon4.balloon-anim6
</div>
.name Sweetheart